* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(239, 151, 174);
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 34px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    height: 20vh;
    gap: 45px;

}

.choices .choice {
    height: 123px;
    width: 134px;
    border: none;
    border-radius: 90px;

}

.choices button[data-choice="rock"] {
    font-size: 40px;
    background-color: bisque;
    transition: 0.2s ease;
    cursor: pointer;
}

.choices button[data-choice="paper"] {
    font-size: 40px;
    background-color: bisque;
    transition: 0.2s ease;
    cursor: pointer;
}

.choices button[data-choice="scissors"] {
    font-size: 40px;
    background-color: bisque;
    transition: 0.2s ease;
    cursor: pointer;
}

.choices button[data-choice="rock"]:hover {
    background-color: rgb(234, 139, 23);
}

.choices button[data-choice="paper"]:hover {
    background-color: rgb(234, 139, 23);
}

.choices button[data-choice="scissors"]:hover {
    background-color: rgb(234, 139, 23);
}

#score {
    font-size: 1.7rem;
    color: rgb(18, 94, 215);
    text-align: center;

}

#reset {
    width: 333px;
    border: none;
    border: none;
    border-radius: 23px;
    background-color: bisque;
    cursor: pointer;
    color: blueviolet;
    font-size: 1.1rem;
    display: block;
    margin: 20px auto;
    transition: 0.2s ease;


    height: 56px;
}

#reset:hover {
    box-shadow: 0 0 45px rgb(233, 163, 77);
    
}
#result{
    font-size:1.3rem ;
    color: rgb(194, 55, 233);
    font-weight: 600;
    text-align: center;

}
#details{
     font-size:1.3rem ;
    color: rgb(194, 55, 233);
    font-weight: 600;
    text-align: center;

}